/* GOOGLE FONTS */

/* NAV DRAWER */
.ant-layout-sider {
  background-color: #fff !important;
}

.menu-trigger {
  padding: 0 24px;
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s;
}

.menu-trigger:hover {
  color: #1890ff;
}

.site-layout .site-layout-background {
  background: #fff;
}

/* APP HEADER */
.app-header__toggle {
  padding-left: 20px;
}

.site-layout .app-header {
  background: white;
}

/* SINGLE COLOR VIEW */
.single-color__container,
.list-color__container {
  height: 100%;
  padding: 50px;
}

.single-color__row {
  padding-bottom: 40px;
}

.color-card {
  border: 2px solid gray;
  border-radius: 8px;
  padding: 0;
}

.color-text {
  text-align: center;
  background: #fff;
  border-radius: 0 0 8px 8px;
}

.color-main__hue {
  height: 45vh;
  border-radius: 6px 6px 0 0;
}

.color-mini__hue {
  border-radius: 6px 6px 0 0;
  height: 15vh;
}
