/* GOOGLE FONTS */

/* NAV DRAWER */
.ant-layout-sider {
  background-color: #fff !important;
}
/* APP HEADER */
.app-header__toggle {
  padding-left: 20px;
}

.site-layout .app-header {
  background: white;
}

/* SINGLE COLOR VIEW */
.single-color__container,
.list-color__container {
  height: 100vh;
  padding: 50px;
}

.single-color__row {
  padding-bottom: 40px;
}

.color-card {
  border-radius: 8px 8px 0 0;
  padding: 0;
}

.color-text {
  text-align: center;
  background: #fff;
  border-radius: 0 0 8px 8px;
}

.color-main__hue {
  height: 45vh;
}

.color-mini__hue {
  height: 15vh;
}
